body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* line-height: 1.25; */
}

.live-search {
  max-width: 1000px;
  padding: 0 2rem;
  margin: 3rem auto;
}

.live-search form,
.live-search input
.live-search span {
  display: inline-block;
}

.live-search input {
  font-size: inherit;
  margin-right: 10px;
}

.character-list li {
  margin: .25rem auto;
}